<!-- Lanzamos metodo correspondiente para añadir datos ng-model {{ tabla.campo }} -->
     <div class="row">
        <br><br><br>
        <div class="col-md-4 col-md-offset-4">
          <div class="box">
            <div class="panel-heading"> 
              <div class="form-group">
                <label class="pull-right"><i class="fa fa-user"></i> Nuevo Usuario </label>
              </div>
               <h4>{{textButton}}</h4>
            </div>

            <form role="form">
              <div class="form-group">
                
                    <li class="list-group-item" ng-repeat="usuario in usuarios" ng-show="$last">
                        <h4>
                          <i class="fa fa-info-circle" aria-hidden="true"></i> Id: {{$index + 1}}
                        </h4>
                    </li>
                
                <input type="hidden" ng-model="usuario.idUsuario" value="{{usuarios.length}}" ng-init="usuario.idUsuario=usuarios.length" required />     
              </div>

              <div class="divider-form"></div>

              <div class="form-group">
                <label for="edad">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="usuario.nombre" required aria-describedby="basic-addon1">
              </div>

              <div class="divider-form"></div>

              <div class="form-group">
                
                <label for="edad">Edad</label>
                <input type="number" class="form-control" placeholder="Edad" min="18" ng-model="usuario.edad" required>
              </div>

              <div class="divider-form"></div>

              <div class="form-group">
                
                <label for="edad">Clave</label>
                <input type="text" class="form-control" placeholder="Clave" ng-model="usuario.clave" required>
              </div>

              <div class="divider-form"></div>

              <p class="text-center">Acepto los<strong> Terminos & Condiciones</strong>.</p>
              <p><a href="#/" class="button large-12 success"><i class="fa fa-home"></i> Volver al inicio</a></p>
              <button type="submit" class="btn-block btn btn-lg btn-primary">{{ textButton }}</button>
              
            </form>
          </div>
        </div>
      </div>

